*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Indie Flower";
}
h2 {
  margin-top: 0;
}

.container {
  width: 1100px;
  height: 99vh;
  background-size: cover;
  border: 7px solid rgb(34, 27, 11);
  border-radius: 6px;
  background-color: #ebebeb;
  margin: auto;
  margin-top: 3rem;
  padding: 1rem;
  background-image: url(assets/Screenshot\ 2024-05-30\ 161922.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  gap: 50px;
}
h1 {
  top: 40px;
  position: relative;
  font-size: 40px;
  font-weight: 900;
  align-items: center;
  padding-top: 6px;
}
p {
  align-items: center;
  padding-top: 60px;
  font-size: large;
}
.PostIt {
  min-width: 300px;
  height: 200px;
  position: absolute;
  border-radius: 8px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 20px black;
  overflow: auto;
  margin-top: 3%;
}
.giallo {
  background-color: rgb(243, 231, 179);
  transform: rotate(12deg);
}
.verde {
  background-color: rgb(175, 225, 228);
  transform: rotate(-10deg);
}
.lilla {
  background-color: rgb(242, 199, 206);
  transform: rotate(5deg);
}
